.itemContainer{
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px;
    overflow: hidden;
    
}

.itemImage{
     max-width: 100%; /*This ensures image doesn't go out of bound of parent class */
     height: auto;  /* Maintaining aspect-ratio so image doesn't appear stretched */

}
.itemContent{
    text-align: center;
}
.itemName{
    font-size: 1em;
    font-weight: 600;
    color: #393e46;

}
.itemButton{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;

}
.buttonContainer{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

